.invalid-feedback{
    color: red;
}
#footer {
    position: fixed;  
    background-color: rgb(253, 246, 246);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.pd-100{
    padding-bottom: 100px;
}
.profile-picture {
    vertical-align: middle;
    height: 50%;
    border-radius: 50%;
    width: 30%;
    box-sizing: border-box;
}